@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Source+Code+Pro:wght@200&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

/* google icons */
/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v39/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    cursor: pointer;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* google icons end */


* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


.navigation {
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    min-height: 100vh;
    position: fixed;
    z-index: 4;
}

.navigation li {
    list-style: none;
    font-size: 1.3em;
    padding: 0.3em;
}

.navigation ul {
    text-align: center;
}

.logo img {
    border-radius: 50%;
    width: 8rem;
    margin-bottom: 1rem;
}

.logo h3 {
    text-align: center;
}

.logo {
    margin-top: 2vh;
    font-size: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.menu {
    display: flex;
    width: 100%;
}

#close {
    width: 100%;
    text-align: right;
}

#open {
    display: none;
}

.background {
    min-height: 100vh;
    background-image: url('/imgs/jeremy-bishop-8xznAGy4HcY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 3;
    box-shadow: -4px 10px 20px #000000ab;

}

.heading {
    font-family: 'Shadows Into Light', cursive;
    color: #ff3c00;
    font-size: 1.8rem;
}

.typing {
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    align-items: center;
}

.typing h1::before {
    content: 'I am ';
}

.typing h1 {
    font-size: 2.5em;
    color: white;
    text-transform: capitalize;
}

#typing_span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.introPara {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .typing h1 {
        font-size: 1.5em;
    }

    .heading {
        font-size: 2em;
    }

    .introPara {
        font-size: 0.8em;
    }
}



/* about page css */
.about {
    min-height: 100vh;
    background-image: url('/imgs/leone-venter-VieM9BdZKFo-unsplash.jpg');
    background-size: cover;
    position: sticky;
    bottom: 0px;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: -4px 10px 20px #000000ab;
}

.about img {
    height: 50vh;
    border-radius: 10px;
    box-shadow: 4px 10px 20px #00000070;
}

.about-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .stripe{
    min-height: 40vh;
    width: 100%;
    background-color: #EEEEEE;
    position: absolute;
    z-index: -1;
} */
.about-heading {
    font-size: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.about .about-inner p {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #0000006b;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 30%;
    font-family: 'Inconsolata', monospace;
}

@media only screen and (max-width: 850px) {
    .about {
        background-color: lightgrey;
        background-image: none;
    }

    .about img {
        height: 40vh;
    }

    .about-inner {
        flex-direction: column;
    }

    .about .about-inner p {
        margin: 20px;
        width: 80%;
        min-height: 5vh;
        font-size: 16px;
        color: black;
        background-color: transparent;
    }
}




/* skills */
.skills {
    min-height: 100vh;
    background-image: url('/imgs/brandi-redd-aJTiW00qqtI-unsplash2.jpg');
    background-size: cover;
    position: sticky;
    bottom: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.skills span {
    color: #c1c1c1;
    position: absolute;
    font-size: 25px;
    font-weight: 900;
}

.skills h3 {
    margin-top: 20px;
    color: #c1c1c1;
}

.skills-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;

}

.outer-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(19, 19, 19), rgb(62, 62, 62));
    min-height: 35vh;
    width: 15vw;
    cursor: pointer;
}

.flex-coloum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(19, 19, 19), rgb(62, 62, 62));
    min-height: 50vh;
    width: 20vw;
    cursor: pointer;
    box-shadow: -4px 10px 20px #000000ab;
}

svg {
    width: 13vw;
}

svg:hover {
    width: 15vw;
}

@media only screen and (max-width: 600px) {
    .skills span {
        font-size: 14px;
    }

    .flex-coloum {
        width: 28vw;
    }

}