*{
    margin: 0;
    padding: 0;
}
form, input{
    min-width: 50vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

form{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
}