*{
    margin: 0;
    padding: 0;
}

h1,table{
    width: 96%;
    margin: 2%;
}
tr:nth-child(even){
    background-color: lightgrey;
}
.heading{
    background-color: rgb(5, 170, 5);
    font-weight: 600;
    color: white;
}

.heading td{
    padding: 10px;
}
td{
    padding: 10px;
}